div.calculator > div.keys {
	padding: 10px;
	height: 71%;
}

div.calculator div.row {
	display: flex;
	display: -webkit-flex;

			flex-direction: row;
	-webkit-flex-direction: row;
}

div.button {
	border: solid 1px #ccc;
	padding: 20px;
	min-width: 22px;
	height: 15px;
	margin: 13px 15px 13px 15px;
	text-align: center;
}

div.button:hover {
	border: solid 1px none;
	background-color: #ccc
}

div.button.command {

}

div.button.number {

}