div.calculator {
	width: 400px;
	height: 600px;
	border: solid 1px #cecece;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	margin: 0 auto;

	font-family: "tahoma"
}

div.calculator > div.display {
	height: 25%;
	border-bottom: solid 1px #cecece;
	padding: 5px;
	text-align: right;
}

div.calculator > div.display > div.sub {
	color: gray;
	overflow-x: auto;
	font-size: 17px;
}

div.calculator > div.display > div.main {
	font-size: 35px;
}

div.calculator > div.keys {
	padding: 10px;
	height: 71%;
}

div.calculator div.row {
	display: flex;
	display: -webkit-flex;

			flex-direction: row;
	-webkit-flex-direction: row;
}

div.button {
	border: solid 1px #ccc;
	padding: 20px;
	min-width: 22px;
	height: 15px;
	margin: 13px 15px 13px 15px;
	text-align: center;
}

div.button:hover {
	border: solid 1px none;
	background-color: #ccc
}

div.button.command {

}

div.button.number {

}